* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/*Start Nav bar*/
header {
  background-color: #1b3039;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  min-height: 80px;
  padding: 5px 10%;
}

header h3 {
  color: white;
  margin-right: auto;
}

.nav-links {
  list-style: none;
}

.nav-links li {
  display: inline-block;
  padding: 0 20px;
}

.nav-links li:hover {
  transform: scale(1.3);
}

.nav-links a {
  color: white;
  text-decoration: none;
}

.nav-links li a:hover {
  color: yellow;
}

.btn button {
  margin-left: 20px;
  font-weight: 100px;
  color: #1b3039;
  padding: 9px 25px;
  background-color: white;
  border: none;
  border-radius: 50px;
  cursor: pointer;
  transition: all 0.3 ease 0s;
}

.btn button:hover {
  background-color: white;
  color: yellow;
  transform: scale(1.3);
}

@media (max-width: 700px) {
  header {
    flex-direction: column;
  }
  .nav-links {
    padding: 10px 0px;
  }
}
/*End Nav bar*/

body {
  background-color: white;
  min-height: 100vh;
  width: 100%;
}
/*Start skill carrusel*/

.slider {
  width: auto;
  height: 100px;
  position: relative;
  background-color: white;
  box-shadow: 0 10px 20px -10px rgba(0, 0, 0, 0.2);
  display: flex;
  overflow: hidden;
}

.slide {
  height: 100px;
  display: flex;
  align-items: center;
  animation: slideshow 15s linear infinite;
}

.slide img {
  height: 70px;
  padding: 0 70px 0 70px;
}

@keyframes slideshow {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-100%);
  }
}

.slider::before,
.slider::after {
  height: 100px;
  width: auto;
  position: absolute;
  content: "";
  background: linear-gradient(to right, white 0%, rgba(255, 255, 255, 0) 100%);
  z-index: 2;
}

.slider::before {
  left: 0;
  top: 0;
}

.slider::after {
  right: 0;
  top: 0;
  transform: rotatez(180deg);
}
/*End Skill carrusel*/

/*Start Contact Form*/
.form {
  background-color: white;
  margin: auto;
  width: 90%;
  max-width: 400px;
  border-radius: 1em;
  padding: 3.5em 1.5em;
}

.form-container {
  width: 100%;
  display: grid;
  gap: 1em;
  grid-auto-columns: 100%;
}

.form-title {
  text-align: center;
  font-size: 1.9rem;
  margin-bottom: 0.4em;
}

.form-input {
  font-size: 1rem;
  padding: 0.8em 1em;
  outline: none;
  border: none;
  border: 1px solid #bbb0b0;
  border-radius: 0.2em;
}

.form-input--message {
  resize: none;
  padding: 1.8em 1em;
  margin-bottom: 0.5em;
}

.form-cta {
  font-size: 1rem;
  background-color: #089fe0;
  color: #fff;
  border: none;
  font-weight: 300;
  padding: 0.7em 0;
  cursor: pointer;
  font-weight: 400;
}

@media (max-width: 450px) {
  .form {
    padding: 3.5em 1em;
  }
}
/*End Contact Form*/
footer {
  background-color: blue;
  text-align: center;
}

.logo {
  height: 70px;
}
